<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @destination.name %>
  </h3>

  <p>
    <strong>Zip:</strong>
    <%= @destination.zip %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @destination.description %>
  </p>

  <%= image_tag(@destination.image_url) %>

  <div class="row">
    <h4>Forecast for <%= @destination.name %>:</h4>
    <table>
      <tr>
        <th>Date</th> 
        <th>High</th> 
        <th>Low</th> 
        <th>Conditions</th> 
      </tr> 
      <% @ten_day_forecast.each do |day| %>
        <th><%= "#{day.weekday} #{day.month} #{day.date}"%></th>
        <th><%= day.high %></th>
        <th><%= day.low %></th>
        <th><%= day.conditions %></th>
      <% end %>
    </table>    
  </div>

  <div class="row">
    <%= link_to 'Edit', edit_destination_path(@destination) %> |
    <%= link_to 'Back', destinations_path %>
  </div>
</div>
